.project{
    width: 1320px;
    margin-left: 20px;
}

.title{
    margin: 80px 0px;
}

.title h1{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.navigationbar{
    display: flex;
    align-items: center;
}

.navibox{
    width: 130px;
    height: 40px;
    border-radius: 16px;
    background-color: #D9D9D9;
}

.naviboxcontent{
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 10px;
}

.naviicon {
    width: 20px;
    height: 20px;
    fill: black;
}

.naviboxcontent h5{
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    margin-left: 5px;
}

.navititle h5{
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
}

.projectimage{

}

.projectimagecontent1{
    width: 620px;
    height: 400px;
    background-color: white;
    background-repeat: no-repeat;
}

.projectimagecontent2{
    width: 620px;
    height: 400px;
    background-color: white;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.projectcontent{
    margin-left: 80px;
}

.projectcontent h4{
    font-size: 24px;
    font-weight: 800;
}

.projectcontent h5{
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.homebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    background-color: #18A77C;
    margin : 40px auto;
}

.homebutton h2{
    font-size: 32px;
    font-weight: 700;
    color: white;
}